@using MyShopWeb.Models
@model IEnumerable<CoreMode.Model.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>產品管理</h2>
@*@using (Ajax.BeginForm(new AjaxOptions
{
    HttpMethod = "get",                    //使用get方法請求
    InsertionMode = InsertionMode.Replace, //將過濾的數據覆蓋原數據
    UpdateTargetId = "productsList"          //覆蓋的地方(值為標簽ID)
}))
{
    <input type="search" name="searchString" />
    <input type="submit" name="Filter" />
}
@Html.Partial("Index2", Model)*@
@*@using (Html.BeginForm("Search","Product",FormMethod.Get))
    {
        <p> Title: @Html.TextBox("searchString")
            <input type="submit" value="查詢" />
        </p>
    }*@
<table id ="products" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>產品</th>
        <th>產品類別</th>
        <th>        </th>
    </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@Html.ActionLink(product.Name, "Details", "Home", new { id = product.Id }, null)</td>
                <td>@product.Category.Name</td>

                
            </tr>

        }
     
    </tbody>
</table>
@section scripts
{
    <script>
        $(document).ready(function() {
            $("#products").DataTable();
        })
    </script>
}
