@using MyShopWeb.Models
@model IEnumerable<MyShopWeb.Models.Product>
@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search</h2>

@using (Ajax.BeginForm(new AjaxOptions
{
    HttpMethod = "get",                    //使用get方法請求
    InsertionMode = InsertionMode.Replace, //將過濾的數據覆蓋原數據
    UpdateTargetId = "productsList"          //覆蓋的地方(值為標簽ID)
}))
{
    <input type="search" name="searchString" />
    <input type="submit" name="Filter" />
}
@Html.Partial("Index2", Model)